@model CareConnect.Models.TrackingGenerateViewModel
    <br />
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="text-secondary font-weight-bold">City:</label>
        </div>
        <div class="col-md-3 col-sm-3">
            <select class="form-control" id="citysubdropdown" name="city ">
                @foreach (System.Data.DataRow catRow in Model.CityDS.Tables[0].Rows)
                {
                    <option value="@catRow["City_ID"]">@catRow["City_Name"]</option>
                }
            </select>
            <span class="text-danger" id="cityDropdownError" style="display: none;">Please select City</span>
            <br />
        </div>

    </div>


<script>
    $(document).ready(function () {
        debugger
        $('#citysubdropdown').change(function () {
            debugger
            var selectedCity = $(this).val();

            // Clear the subcategory container
            $('#regionContainer').html('');

            debugger

            // Make AJAX call to fetch subcategories based on the selected category
            $.ajax({
                url: '/Home/GetRegiondropdown',
                type: 'POST',
                data: { CityID: selectedCity },
                success: function (result) {
                    debugger
                    // Render the subcategory dropdown
                    $('#regionContainer').html(result);

                    // Hide the element after it's been added to the DOM
                    $('#userEmailDropdownContainer').hide();
                    $('#locationDropdownContainer').hide();

                    // Render the modified HTML (without the user email dropdown) in #regionContainer


                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'Please Select Valid City: ' + error, 'error');
                }
            });
        });
    });
</script>
 
