@model CareConnect.Models.TrackingGenerateViewModel
            <!-- Render the dropdown list with TicketCatType data -->

<label for="TicketTypeDropdown">Ticket Description:</label>
<select class="form-control" id="infoSubcategoryDropdown" name="ticketsubcatagory">
    @foreach (System.Data.DataRow catRow in Model.InfoSubcategory.Tables[0].Rows)
    {
        <option value="@catRow["IssueTypeSubId"]">@catRow["SubIssueDescription"]</option>
    }
</select>
<span class="text-danger" id="infosubcategoryDropdownError" style="display: none;">Please select Info Sub Category.</span>
<br />


















