@model CareConnect.Models.TrackingGenerateViewModel
            <!-- Render the dropdown list with TicketCatType data -->


<select class="form-control" id="SubtermianlDropdown" name="subterminal">
    @foreach (System.Data.DataRow catRow in Model.Sub_Terminal.Tables[0].Rows)
    {
        <option value="@catRow["Sub_Terminal_Id"]">@catRow["Sub_Terminal_Name"]</option>
    }
</select>
<span class="text-danger" id="subterminalDropdownError" style="display: none;">Please select Sub Terminal.</span>
<br />



















