
<!-- Select2 JS -->
<script src="/dist/js/select2.min.js"></script>
@model CareConnect.Models.TrackingGenerateViewModel
@{
    ViewData["Title"] = "COD Ledger Report";
}
<h1 id="reportTitle">COD Ledger Report</h1>
<br />
<div class="row">
    <!-- left column -->

    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- jquery validation -->




        <div class="form-group">

            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <label class="text-secondary font-weight-bold">Customer:</label>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-2">
                    <select class="form-control select2" id="CustomerTypeDropdown" name="customertype">
                        <option value="">Select Customer</option>
                        @foreach (System.Data.DataRow catRow in Model.CODLedgerReport.Tables[0].Rows)
                        {


                            <option value="@catRow["customer_id"]">@catRow["customer_name"]</option>

                        }
                    </select>

                    <span class="text-danger" id="customertypeDropdownError" style="display: none;">Please select Customer.</span>
                </div>

                <div class="col-lg-7 col-md-6 col-sm-2">
                    <button class="btn btn-success float-left" id="btnSubmit">Submit</button>
                </div>
            </div>
            <div> <br /></div>
            <span class="text-danger"></span>

        </div>


    </div>
</div>

<div class="container-fluid ">
    <div class="row">
        <br />
    </div>
    <div id="CODLdgerReportContainer">
    </div>
</div>






<script>
    $(document).ready(function () {

        $('.select2').select2();

        $('#btnSubmit').click(function () {
            debugger
            var customerID = $('#CustomerTypeDropdown').val();
            var datefrom = $('#datefrom').val();
            var dateto = $('#dateto').val();
            if (datefrom == "") {
                datefrom = null;
            }
            if (dateto == "") {
                dateto = null;

            } else {

            }



            $.ajax({
                url: '/Home/GetCODCustomerledgerPaytment',
                type: 'GET',
                data: {
                    customer_id: customerID,
                    datefrom: datefrom,
                    dateto: dateto
                },

                success: function (result) {
                    debugger
                    // Check if the ticket was created successfully

                    debugger;
                    // Show a success message using SweetAlert
                    //Swal.fire('Success', response.message, 'success');

                    $('#CODLdgerReportContainer').html(result);



                },
                error: function (xhr, status, error) {
                    // Show an error message using SweetAlert
                    Swal.fire('Error', 'Error Fetching Records: ' + error, 'error');
                }
            });
        });

    });


</script>









