
@{
    ViewData["Title"] = "ShortPaymentVoucher";
}



<h1 id="v1" class="text-black-50">Coming Soon........</h1>
<style>
    #v1 {
        text-align: center;
        margin-top: 20%;
    }
</style>



