@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Account Open";
}
<h1 id="reportTitle">Account Opening Report</h1>
<br />
<div class="row">
    <!-- left column -->

    <div class="col-md-12 col-lg-12 col-sm-12">
        <!-- jquery validation -->




        <div class="form-group">

            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <label class="text-secondary font-weight-bold">Account Type:</label>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-2">
                    <select class="form-control" id="AccountTypeDropdown" name="accounttype">
                        <option value="">Select Account Type</option>
                        @foreach (System.Data.DataRow catRow in Model.AccountOpening.Tables[0].Rows)
                        {


                            <option value="@catRow["Opening_Type_Id"]">@catRow["Opening_Type"]</option>

                        }
                    </select>

                    <span class="text-danger" id="accounttypeDropdownError" style="display: none;">Please select Account Type.</span>
                </div>

                
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <label class="text-secondary font-weight-bold">Date From:</label>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <input type="date" id="datefrom" name="datefrom" class="form-control" autofocus />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <label class="text-secondary font-weight-bold">Date To:</label>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <input type="date" id="dateto" name="dateto" class="form-control" autofocus />
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="btn btn-success float-left" id="btnReport">Report</button>
                </div>
            </div>
            <div> <br /></div>
            <span class="text-danger"></span>

        </div>


    </div>
</div>

<div class="container-fluid ">
    <div class="row">
        <br />
    </div>
    <div id="AccountOpenReportContainer">
    </div>
</div>


<div class="table-responsive">
    <table id="ReportaDataTable" class="table table-striped table-bordered" style="width:100%"></table>
</div>

<script>
    debugger
    function showLoader() {
        // Add the loader and blur the page
        $('body').addClass('blur');
        $('body').append('<div class="loader-container"><div class="loader"></div></div>');
    }

    function hideLoader() {
        // Remove the loader and remove the blur from the page
        $('body').removeClass('blur');
        $('.loader-container').remove();
    }

    function onlyNumberKey(evt) {

        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
</script>



<script>
    $(document).ready(function () {
        debugger
        // Calculate one week ago date
        var oneWeekAgo = new Date();
        oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);

        // Format the date in YYYY-MM-DD format
        var formattedDate = oneWeekAgo.toISOString().split('T')[0];

        // Set the default date values in the input fields
        document.getElementById('datefrom').value = formattedDate;
        document.getElementById('dateto').value = new Date().toISOString().split('T')[0]; // Set "Date To" to current date

        $('#btnReport').click(function () {
            debugger

            var openingtypeid = $('#AccountTypeDropdown').val();
            var datefrom = $('#datefrom').val();
            var dateto = $('#dateto').val();
            if (datefrom == "") {
                datefrom = null;
            }
            if (dateto == "") {
                dateto = null;

            } else {

            }



            $.ajax({
                url: '/Home/GetAccountOpenDateWise',
                type: 'GET',
                data: {
                    Opening_Type_Id: openingtypeid,
                    datefrom: datefrom,
                    dateto: dateto
                },

                success: function (result) {
                    debugger
                    // Check if the ticket was created successfully

                    debugger;
                    // Show a success message using SweetAlert
                    //Swal.fire('Success', response.message, 'success');

                    $('#AccountOpenReportContainer').html(result);



                    // $('#categoryDropdown').val(''),
                    //     $('#cngno').val(''),
                    //     $('#ticketid').val(''),
                    //     $('#Barcode').val(''),
                    //     $('#txtorigin').val(''),
                    //     $('#txtDestination').val(''),
                    //     $('#subcategoryContainer').find('#SubcategoryDropdown').val('')
                },
                error: function (xhr, status, error) {
                    // Show an error message using SweetAlert
                    Swal.fire('Error', 'Error Fetching Records: ' + error, 'error');
                }
            });
        });

    });


</script>






